<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaj2l.eventtus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.EventDetailsActivity"
            android:label="@string/title_details_event" />
        <activity
            android:name=".view.activities.CreateEventActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.activities.ContactActivity"
            android:label="@string/title_contact" />
        <activity
            android:name=".view.activities.ToRateActivity"
            android:label="@string/title_to_rate_activity" />
        <activity
            android:name=".view.activities.AttachmentActivity"
            android:label="@string/title_attachments_activity" />
        <activity
            android:name=".view.activities.QuestionActivity"
            android:label="@string/title_send_a_question" />
        <activity
            android:name=".view.activities.LocationActivity"
            android:label="@string/title_activity_location" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/eventtus" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.activities.BaseActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- [START firebase_service] -->
        <service android:name=".services.notifications.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
    </application>

</manifest>